/* All toplevel windows and dialogs have the '@STYLE_CLASS@' class. */

/* Window */

#Window.empty:not(:drop(active)) #CoverPicture {
  background: -gtk-icontheme("@APP_ID@-symbolic") no-repeat center;
  background-size: 128px;
  color: @insensitive_fg_color;
}

#Window #DragImage {
  background: -gtk-icontheme("view-list-symbolic") no-repeat center;
  background-color: alpha(@theme_bg_color, 0.65);
  background-size: 128px;
}

/* Headerbar */

#Window scale.tooltiped { padding: 8px; margin: 0; }
#Window scale.tooltiped marks.top { min-height: 6px; margin-bottom: -6px; }

#Window.fullscreen headerbar { margin: 8px; border: none; border-radius: 4px; box-shadow: none; opacity: 0.85; }
#Window headerbar #TitleWidgetBox { border-spacing: inherit; }

/* Searchbar */

#Window.fullscreen searchbar { border: none; }
#Window.cover searchbar,
#Window.cover searchbar > revealer > box { background: none; border: none; box-shadow: none; }
#Window.cover searchbar button:not(:active):not(:focus):not(:hover),
#Window.cover searchbar entry image:not(:hover) { opacity: 0.8; }
#Window.cover searchbar entry image { color: inherit; }

#Window.cover searchbar button,
#Window.cover searchbar entry { background: alpha(@theme_bg_color, 0.55); border: none; caret-color: @theme_fg_color; color: @theme_fg_color; }
#Window.cover searchbar entry:focus-within { background: alpha(@theme_bg_color, 0.85); }

#Window.cover.inverted searchbar button,
#Window.cover.inverted searchbar entry { background: alpha(@theme_fg_color, 0.55); border: none; caret-color: @theme_bg_color; color: @theme_bg_color; }
#Window.cover.inverted searchbar entry:focus-within { background: alpha(@theme_fg_color, 0.85); }

/* Scrollbar */

#Window.cover overshoot,
#Window.cover undershoot,
#Window.cover scrollbar { background: none; border: none; }

/* List */

#Window listview { background: none; padding: 4px 8px; }
#Window:not(.empty):not(.cover) listview { background: @theme_base_color; }

#Window row { border: none; border-radius: 5px; margin: 3px; }
#Window.transition row { transition: all 300ms ease; }
#Window:not(.cover) row:not(:selected):hover { background: @theme_bg_color; }

#Window row grid { border-spacing: 3px 0; }
#Window row flat { -gtk-icon-size: 1em; }
#Window row flat.warning:active,
#Window row flat.warning:focus,
#Window row flat.warning:hover { color: @warning_color; }
#Window row flat:not(.warning):active,
#Window row flat:not(.warning):focus,
#Window row flat:not(.warning):hover { color: mix(mix(@theme_bg_color, @theme_fg_color, 0.5), currentColor, 2); }
#Window row label.title { font-weight: bold; }
#Window row label:not(.title),
#Window row label.details,
#Window row label.duration { font-size: calc(1em - 1px); }
#Window row indicator.spectrum { font-size: calc(0.85 * 1em); padding: 0 2px 2px 0; }
#Window row indicator.fallback {
  -gtk-icon-size: 1em;
  background: -gtk-icontheme("media-playback-start-symbolic") no-repeat right center;
  background-size: 1em;
}

#Window.cover row { background-color: alpha(@theme_bg_color, 0.45); color: @theme_fg_color; }
#Window.cover row:hover { background-color: alpha(@theme_bg_color, 0.55); color: @theme_fg_color; }
#Window.cover row:selected { background-color: alpha(@theme_bg_color, 0.85); color: @theme_fg_color; }
#Window.cover row:selected:hover { background-color: alpha(@theme_bg_color, 0.95); color: @theme_fg_color; }
#Window.cover row:backdrop,
#Window.cover row:backdrop:selected { color: mix(@theme_fg_color, @theme_bg_color, 0.20); }

#Window.cover.inverted row { background-color: alpha(@theme_fg_color, 0.45); color: @theme_bg_color; }
#Window.cover.inverted row:hover { background-color: alpha(@theme_fg_color, 0.55); color: @theme_bg_color; }
#Window.cover.inverted row:selected { background-color: alpha(@theme_fg_color, 0.85); color: @theme_bg_color; }
#Window.cover.inverted row:selected:hover { background-color: alpha(@theme_fg_color, 0.95); color: @theme_bg_color; }
#Window.cover.inverted row:backdrop,
#Window.cover.inverted row:backdrop:selected { color: mix(@theme_bg_color, @theme_fg_color, 0.20); }

/* Playlists dialogs */
#Playlists.dialog #Content { margin: 12px; border-spacing: 12px; }
#Playlists.dialog #Content frame { border: none; }
#Playlists.dialog #Content frame > label { font-weight: bold; font-size: larger; }
#Playlists.dialog #Content frame > list { border-radius: 5px; }
#Playlists.dialog #Content frame > list > row:first-child{ border-top-left-radius: 5px; border-top-right-radius: 5px; }
#Playlists.dialog #Content frame > list > row:last-child{ border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
#Playlists.dialog #Content frame > list > row label.title { font-weight: bold; }

/* Prefs window */
#Prefs.dialog #Content { margin: 8px; }
#Prefs.dialog #Content > frame { margin: 2px; border: none; }
#Prefs.dialog #Content > frame > label { font-weight: bold; }
#Prefs.dialog #Content > frame > box * { margin: 2px; }

/* props window */
#Props.dialog #Content { margin: 8px 4px; border-spacing: 4px; }
#Props.dialog #Content > label { margin: 0 4px; }
#Props.dialog #Content > frame { margin-top: 4px; border: none; }
#Props.dialog #Content > frame > label { font-weight: bold; }
#Props.dialog #Content > frame > grid { margin: 3px 12px; border-spacing: 3px 6px; }
